#carcontainer img {
    height: 150px;
    width: auto;
}
#form1 * {
    width: 300px;
}

.addform {
    margin-bottom: 10px;
}

#addPreparedButton {
    width: 300px;
    margin-top: 10px;
}