:root {
  font-family: "Inconsolata", monospace;
}
#first-content {
  background-color: #f0f0f0;
  margin: 10px;
  margin-top: 20px;
  padding: 20px;

  height: 15vh;

  border-radius: 15px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
}

.box1 {
  background-color: cadetblue;
}
.box2 {
  background-color: crimson;
}
.box3 {
  background-color: darkgoldenrod;
}

.box {
  width: calc(100% / 3 - 20px);

  min-height: 100px;
  max-height: 300px;
  height: 30%;
  height: 200px;
  margin: 10px;

  border-radius: 15px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
}

#wrapper {
  display: flex;
  flex-wrap: wrap;
  justify-content: flex-start;
}
